%h1 Devices

#devices
  %table
    %thead
      %tr
        %th Name
        %th IP Address
        %th Device Type
    %tbody
      - @devices.each do |device|
        %tr
          %td= device.name
          %td= device.ip_address
          %td= device.device_type.name


