%p
  %strong Name:
  = @device_type.name

%h3 Controls
= render 'controls_table', device_type: @device_type
%br/
= link_to 'Edit', edit_device_type_path(@device_type)
|
= link_to 'Back', device_types_path
