%table.table.table-striped
  %thead
    %tr
      %th Kind
      %th Name
      %th Value
      %th API
  %tbody
    - device_type.control_items.each do |control_item|
      %tr
        %td= control_item.kind
        %td= control_item.name
        %td= control_item.value
        %td
          - if control_item.api_endpoint.present?
            %span.glyphicon.glyphicon-check

