%nav.navbar.navbar-default{role: "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => "#main-menu", "data-toggle" => "collapse", type: "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

    #main-menu.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          = link_to 'Devices', devices_url
        %li
          = link_to 'Devices Types', device_types_url
      %ul.nav.navbar-nav.navbar-right
        %li
          = link_to 'http://app.kalm.pl', { target: '_blank' } do
            %span.glyphicon.glyphicon-new-window
            Open Frontend App

  = render "layouts/messages"
